body {
    margin: 0px;
    padding: 0px;
    background: var(--beige);

    /*COLORS*/
    --white: #f7f1e1;
    --cream: #f6e6cb;
    --dcream: #eacea3;
    --beige: #856246;
    --terracotta: #b9816d;
    --dterracotta: #885444;
    --peach: #e5ae8a;
    --orange: #bf835a;
    --green: #4b5243;
    --dgreen: #2c3834;

    /*FONTS*/
    --mono: "source-code-pro";
    --display: "lust-sans";
}

/* Grid layout */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Gap between cards */
    margin: 40px;
    justify-content: end; /* Align items to the right */
}

/* Card styles */

/* Avatar styles */
.av {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    margin-bottom: 10px;
}

.minip {
    width: 300px;
    height: 450px;
    margin: auto;
    background: var(--white);
    position: relative;
    box-shadow: 0px 0px 5px var(--terracotta);
}

.minip .mg {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 250px 50px;
    grid-template-rows: 100px 150px;
    grid-template-areas:
        "clr group"
        "clr .....";
    transition: grid-template-columns 0.6s linear,
        grid-template-rows 0.6s linear;
}
.minip:hover .mg {
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 300px;
    transition: grid-template-columns 0.6s linear,
        grid-template-rows 0.6s linear;
}
.minip .mg .clr {
    grid-area: clr;
    background: var(--green);
}
.minip .mg .group {
    font: 10px/10px var(--mono);
    text-transform: uppercase;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
}
.minip .mg .group span {
    display: block;
    transform: rotate(180deg);
    transition: transform 0.6s linear;
}
.minip:hover .mg .group span {
    transform: rotate(270deg);
    transition: transform 0.6s linear;
}

.minip .av {
    width: 200px;
    height: 350px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: var(--green);
    background-position: top center;
    background-size: cover;
    transition: width 0.6s linear, height 0.6s linear;
}
.minip:hover .av {
    width: 250px;
    height: 400px;
    transition: width 0.6s linear, height 0.6s linear;
}

.minip .info {
    width: 160px;
    max-height: 100px;
    padding: 25px;
    position: absolute;
    bottom: 100px;
    left: 0px;
    background: var(--peach);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: flex-start;
    transition: bottom 0.6s linear;
}
.minip:hover .info {
    bottom: 50px;
    transition: bottom 0.6s linear;
}
.minip .info name {
    display: block;
    font: 200 25px/30px var(--display);
    text-indent: -25px;
    letter-spacing: 1px;
    margin: 0px 0px 10px 25px;
}
.minip .info deets {
    font: 10px/15px var(--mono);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.minip a.plot {
    width: 110px;
    height: 30px;
    position: absolute;
    bottom: 78px;
    left: 85px;
    background: var(--dgreen);
    font: 10px/10px var(--mono);
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.6s linear;
}
.minip:hover a.plot {
    bottom: 25px;
    transition: bottom 0.6s linear;
}

@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .grid {
        grid-template-columns: repeat(
            2,
            1fr
        ); /* 2 columns for smaller screens */
    }

    .minip {
        width: 250px; /* Adjust width for smaller screens */
        height: 400px; /* Adjust height for smaller screens */
    }

    .minip .mg,
    .minip:hover .mg {
        grid-template-columns: 150px 150px; /* Adjust grid layout for smaller screens */
        grid-template-rows: 50px 300px; /* Adjust grid layout for smaller screens */
    }

    .minip .av,
    .minip:hover .av {
        width: 200px; /* Adjust width for smaller screens */
        height: 350px; /* Adjust height for smaller screens */
    }

    .minip .info,
    .minip:hover .info {
        bottom: 50px; /* Adjust bottom position for smaller screens */
    }

    .minip a.plot,
    .minip:hover a.plot {
        bottom: 35px; /* Adjust bottom position for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    /* Adjustments for screens with a minimum width of 480px */
    .grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for wider screens */
    }

    .minip {
        width: 250px; /* Adjust width for wider screens */
        height: 400px; /* Adjust height for wider screens */
    }

    .minip .mg,
    .minip:hover .mg {
        grid-template-columns: 150px 150px; /* Adjust grid layout for wider screens */
        grid-template-rows: 50px 300px; /* Adjust grid layout for wider screens */
    }

    .minip .av,
    .minip:hover .av {
        width: 200px; /* Adjust width for wider screens */
        height: 350px; /* Adjust height for wider screens */
    }

    .minip .info,
    .minip:hover .info {
        bottom: 50px; /* Adjust bottom position for wider screens */
    }

    .minip a.plot,
    .minip:hover a.plot {
        bottom: 35px; /* Adjust bottom position for wider screens */
    }
}
